body {
  background-color: pink;  
}

.love-calc {
text-align: center;
font-family: 'Courier New', Courier, monospace;

}

p {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}